@{
    ViewData["Title"] = "Home Page";
}


@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}
else
{
    <div class="buttons">
        <a class="button" asp-controller="Account" asp-action="Login">Вход</a>
        <a class="button" asp-controller="Account" asp-action="Register">Регистрация</a>
    </div>
}